{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "ServiceBusConnection": "Endpoint=sb://YOUR_NAMESPACE.servicebus.windows.net/;SharedAccessKeyName=...;SharedAccessKey=...",

    "SENDGRID_API_KEY": "",
    "SENDGRID_FROM_EMAIL": "verified-sender@yourdomain.com",

    "WEB_APP_BASE_URL": "https://victorious-ocean-036a1ed03.2.azurestaticapps.net",

    "CORS_ALLOW_ORIGIN": "http://localhost:5173"
  }
}
